:root{


}

*{
    font-family: "Noto Serif", serif;
    /* font-family: "Birthstone", serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}